
{% extends 'appWebsite/base.html' %}

{% load functions %}

  
  {% block content %}
  <div class="adress">
      {{aboutusArticle.get_Text|safe}}
  </div>
  {% endblock %}  


      
  {% block opinions %}  
   <h1 style="text-align: center;"> Наши студенты</h1>
     <div style="border-top: 4px solid #C5CAE9;">
      {% for article1 in allOpinionArticles %}
      
        <div class="media">
             <img class="align-self-center mr-3 opinion-photo" src="{{ article1.get_PhotoURL }}" alt="Наши студенты.">
          <div>
            <h5>{{article1.get_Title}}</h5>
            <p>{{article1.get_Text|safe|striptags}}</p>
          </div>

               
              </div>
        
    {% endfor %}
  </div>
      
 {% endblock %}


