
{% extends 'appWebsite/base.html' %}

{% load functions %}




  {% block content %}
      {{homeArticle.get_Text|safe}}
  {% endblock %}  

      

  {% block articles %}  

       <div class = "row" style="text-align: center;">
    {% for article in allCourseArticles %}
      
              <div class="col-centered">
              <div class="card" style="width: 19rem;">
                <img class="card-img-top" src= "{{ article.get_PhotoURL }}"  alt="course 4 kids">
                <div class="card-body">
                <p class="card-text"><a style="color:#000000" href="{% url 'courses_detail' pk=article.pk %}"> {{article.get_TextPreview|safe|striptags}}</a></p>
                
                
              </div>
              </div>
              </div>
        
    {% endfor %}
  </div>
      
 {% endblock %}



  {% block opinions %}  

       <h1 style="text-align: center;"> Наши студенты </h1> 
     <div  style="border-top: 4px solid #C5CAE9;">
      {% for article1 in allOpinionArticles %}
      
        <div class="media">
             <img class="align-self-center mr-3 opinion-photo" src="{{ article1.get_PhotoURL }}" alt="Наши студенты.">
          <div>
            <h5>{{article1.get_Title}}</h5>
            <p>{{article1.get_Text|safe|striptags}}</p>
          </div>

               
              </div>
        
    {% endfor %}
  </div>
      
 {% endblock %}


