body {
    padding-left: 15px;
}

h1 a {
    color: #FCA205;
    font-family: 'Exo 2';
}


.top-header {
    background-color: #1A237E;
    color: #E8EAF6;
    padding-top: 10;
}

.navbar-brand {
     white-space: pre-line;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
   -ms-flex-align: center;
    align-items: center;
}

.navbar{ 
    background-color: #7986CB;
    padding: 0;
}



.row{

    margin-left: 0;
    margin-right: 0;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}



.col-centered{

    margin: 0 auto;
    }

.card-img-top{
    max-height: 200px;
  }

.card{
    margin-top: 16px;
    margin-bottom: 16px;
    }


.media{
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid #C5CAE9;     
   }

.opinion-photo{
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 8px;
    }

.courses-photo{
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 8px;   
    margin-right: 32px;
}

address{
    align-content: center;
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 16px;
}


.col a{
 color: #FFFFFF;
}


footer{
padding-top: 30px;

}


body{
    background: #E8EAF6;
    padding-top: 10px;
    color: #1A237E;
}

@media (max-width: 576px)
.container {
    max-width: 540px;
    margin-right: auto;
   margin-left: 0px ;
}
.container {
    margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}


